<div class="title">
    <h1>Agregar Compra</h1>
</div>
<div class="container">
    <mat-card class="card">
        <mat-card-subtitle>
            Datos de la compra
        </mat-card-subtitle>
        <form [formGroup]="form" (ngSubmit)="agregarCompra()">
            <mat-grid-list cols="2" rowHeight="80px">
                <mat-grid-tile>
                    <mat-form-field class="mat-form-field" appearance="outline">
                        <mat-label>Usuario</mat-label>
                        <input formControlName="usuario" matInput>
                    </mat-form-field>
                </mat-grid-tile>
                <mat-grid-tile>
                    <mat-form-field class="mat-form-field" appearance="outline">
                        <mat-label>Estado</mat-label>
                        <input formControlName="estado" matInput>
                    </mat-form-field>
                </mat-grid-tile>
                <mat-grid-tile>
                    <mat-form-field class="mat-form-field" appearance="outline">
                        <mat-label>Num Envios</mat-label>
                        <input type="number" formControlName="cantidad" matInput>
                    </mat-form-field>
                </mat-grid-tile>
                <mat-grid-tile>
                    <mat-form-field class="mat-form-field" appearance="outline">
                        <mat-label>Dirección</mat-label>
                        <input formControlName="direccion" matInput>
                    </mat-form-field>
                </mat-grid-tile>
                <mat-grid-tile [colspan]="2">
                    <button [disabled]="form.invalid" type="submit" class="btnGuardar" mat-raised-button color="primary">Guardar</button>
                    <button mat-stroked-button color="warn" routerLink="/listCompra">Volver</button>
                </mat-grid-tile>
            </mat-grid-list>
        </form>
    </mat-card>
</div>