<div class="title">
    <h1>Ver Productos Estampados</h1>
</div>

<div class="container">
<mat-card class="card">
    <mat-card-title>PRODUCTOS</mat-card-title>
    <mat-card-content>
        <p><strong>Tipo:</strong> {{estampado.nombre}}</p>
        <p><strong>Color:</strong> {{estampado.color}}</p>
        <p><strong>Valor: $</strong>{{estampado.valor}}</p>
    </mat-card-content>
    <mat-card-actions>
        <button routerLink="/listEstampando" class="button" mat-stroked-button color="warn">Volver</button>
        <button routerLink="/listEstampando" class="button" mat-stroked-button color="warn" disabled>Comprar</button>
    </mat-card-actions>
</mat-card>
</div>