.card{
    margin-top: 5px;
    text-align: center;
}

.button {
    height: 100%;
    margin: 20px;
    display: flex;
    justify-content: center;
    width: 150px;
    align-items: center;
    justify-content: center;
  }
  